@{
	ViewData["Title"] = "Booking Successful";
}

<div class="text-center">
	<h3>Your booking was successfully created</h3>
	<a asp-controller="Home" asp-action="Index">Click Here to go back to the home page</a>
</div>
