@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Welcome to DJ Valeting</h1>
    <a asp-controller="Booking" asp-action="Index">Click Here to book a new valet</a>
</div>
